{% extends 'main.twig' %}

{% block content %}
<header class="header">
	<div class="circle-logo"></div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block common-idx">
</header>

<div class="bucket-panel">
	<div class="bucket-row">
		<i class="bucket-icon ton-li-people-7"></i>
		<h3 class="bucket-title">{{ main.pagetitle }}</h3>
		<div></div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<nav class="list-group">
				<div class="list-group-item">
				  <h4>{{ main.community_list }}</h4>
				</div>
				{% for community in communities %}
					<a class="list-group-item" href="#{{ community.id }}">{{ community.name  }}</a>
				{% endfor %}
			</nav>
		</div><!-- col-sm-3 -->
		<div class="col-sm-9">
			{% for community in communities %}
			<div class="card" id="{{ community.id }}">
				<h3 class="card-head">{{ community.name }}</h3>
				<div class="card-body clearfix">
					<img  class="pull-left prm" src="/2015/images/{{ community.image }}" width="100" alt="">
					<p>{{ community.desc|nl2br }}</p>
				</div>
				<div class="card-body">
					{% for link_name, url in community.links %}
						{% if loop.index0 > 0 %}<span class="fc-primary">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>{% endif %}
						<a href="{{ url }}">{{ link_name }}</a>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div><!-- col-sm-9 -->


	</div>
</div>
{% endblock %}
