<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>{% if main.pagetitle %}{{main.pagetitle}} - {% endif %}{{main.sitetitle}}</title>
    <meta content="{{main.ogtitle}}" property="og:title">
    <meta content="http://mopcon.org/2015/{main.og_url}" property="og:url">
    <meta content="{{main.ogdesc}}" property="og:description">
    <meta content="http://mopcon.org/2015/images/{{og_image}}" property="og:image">
    <meta content="200" property="og:image:width" >
    <meta content="200" property="og:image:height" >
    <meta content="website" property="og:type">
    <meta content="{{main.ogsitename}}" property="og:site_name">

    <link rel="alternate" hreflang="zh-Hant" href="{{app.request.getSchemeAndHttpHost ~ '/2015/' ~ pageid ~ '.php?lang=zh' }}" />
    <link rel="alternate" hreflang="en-US" href="{{app.request.getSchemeAndHttpHost ~ '/2015/' ~ pageid ~ '.php?lang=en' }}" />

    <link href="stylesheets/all.css?v=20150917" rel="stylesheet" type="text/css" />
    <link href="stylesheets/web-fonts.css?v=20150909" rel="stylesheet" type="text/css" />
    <script src="javascripts/all/all.js?v=20150909" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
      body{
        font-family: "Microsoft JhengHei","微軟正黑體","sans-serif";
      }
      {% block style %}
      {% endblock %}
    </style>
  </head>

  <body class="{{pageid}}">
    <nav class="navbar navbar-default mb0">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/2015/">MOPCON</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="community.php">{{main.navcommunity}}</a></li>
        <li><a href="location.php">{{main.navlocation}}</a></li>
        <li><a href="cfp.php">{{main.navcfp}}</a></li>
        <li><a href="speaker.php">{{main.navspeaker}}</a></li>
        <li><a href="schedule.php">{{main.navsession}}</a></li>
        <li><a href="sponsor.php">{{main.navsponsor}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="?lang=en" hreflang="zh-Hant">English</a></li>
        <li><a href="?lang=zh" hreflang="en-US">中文</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{main.navprevious}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/2014">2014</a></li>
            <li><a href="/2013">2013</a></li>
            <li><a href="/2012">2012</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}
{% endblock %}

    <footer class="footer">
    <div class="container-fluid">
      <div class="row relative">
        <div class="col-sm-6">
          <a hreflang="en-US" href="?lang=en">English site</a>, <a hreflang="zh-Hant" href="?lang=zh">中文網站</a> <br>
          MOPCON 2015 <a href="/2014/">2014</a> <a href="/2013/">2013</a> <a href="/2012/">2012</a>
        </div>
        <div class="col-sm-6">
          <img src="images/logo_black.png" class="visible-xs-inline-block mtm" height="24" alt="">
        </div>
        <img src="images/logo_black.png" class="absolute pos-b0 hidden-xs" style="right: 15px" height="24" alt="">
      </div>
    </div>
</footer>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34651129-1']);
_gaq.push(['_setDomainName', 'mopcon.org']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
  </body>
</html>
