{% extends 'main.twig' %}

{% block style %}
.card-body h4{
	min-height:2em;
}
{% endblock %}

{% block content %}
<header class="header">
	<div class="circle-logo"></div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block super-idx">
</header>

{% for date, schedule in schedules %}
{% set date_idx = date_idx + 1 %}
{% set panel_style = (date_idx % 2) ? 'bg-deep-blue' : 'bg-green' %}
<div class="bucket-panel {{ panel_style }}">
	<div class="bucket-row text-white">
		<i class="bucket-icon ton-li-people-5"></i>
		<h3 class="bucket-title">第{{ date_idx }}日</h3>
		<div>{{ date }}</div>
	</div>
	<div class="container-lg">
		{% for timeblock in schedule %}
		<h4 class="text-white text-center mbxl">{{ timeblock.times[0] }} ~ {{ timeblock.times[1] }} {{ timeblock.time_note }}</h4>
		{% if timeblock.events|length > 0 %}
		<div class="column-layout column-{{ timeblock.events|length }}{% if 2 > timeblock.events|length %} text-center {% endif %}">
			{% for event in timeblock.events %}
			<div class="column">
				<div class="card">
					{# <div class="card-head text-center">
						<img src="" alt="" class="avatar">
					</div> #}
					<div class="card-body">
						<h4>{{ event.title }}</h4>
						{% if event.room %}<a href="speaker.php?id={{ event.speaker_id }}">{{ event.speaker }}</a>&nbsp;{% endif %}
					</div>
					{% if event.room %}
					<div class="card-footer text-center text-info">{{ attribute(room_names, event.room) }}</div>
				    {% endif %}
				</div>
			</div>
		    {% endfor %}
		</div>
		{% endif %}
		{% endfor %}
		</div>
</div>
{% endfor %}

{% endblock %}
