{% extends 'main.twig' %}

{% block content %}
<header class="header text-white text-center">
	<!-- <img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive"> -->
	<div class="circle-logo"></div>
	  <h2 class="text-center common-idx">Schedule<br>of 2015</h2>
    <h1 class="common-idx i-allhackpad"><a href="http://hackfoldr.org/MOPCON-2015/" target="_blank">All Hackpads</a></h1>

</header>

<div class="row text-white text-center ovh hidden-xs dkt-dates">
	<div class="col-xs-6 slash bg-green"></div>
	<div class="col-xs-6 slash bg-deep-blue"></div>
</div>
<div class="row text-white text-center hidden-sm hidden-md hidden-lg mbl-dates">
  <div class="mbl-date bg-green active">10 / 31</div>
  <div class="mbl-date bg-deep-blue">11 / 01</div>
</div>


<div class="mtm pdreset">
  <div class="col-sm-6 col-xs-12" data-schedule>
  	{% for schedule in schedules %}
  		{% if schedule.date == '2015/10/31' %}
      <div class="col-xs-12 schedule">
    		{% if schedule.timeStart != prvTime %}
    			{% set prvTime = schedule.timeStart %}
        	<div class="schedule-header"><span>{{ schedule.timeStart }}</span><span> ～ </span><span>{{ schedule.timeEnd }}</span></div>
        {% endif %}
        
        <div class="schedule-body">
        	<div class="schedule-img"><img src="/2015/images/{{ schedule.pic }}" width="100%" alt=""></div>
          <div class="schedule-content">
            <div class="schedule-content-header">
              <h3>
                {% if schedule.id != "" %}
                  <a href='?id={{schedule.id}}' class="ellipsis">{{ schedule.title }} </a><img src="images/schedule/arrow-02.png" height="25" width="26" />
                {% else %}  
                  {{ schedule.title }}
                {% endif %}
              </h3>
              <p>{{ schedule.summary }}</p>

              {% if schedule.issue != "" or schedule.speaker !="" %}
                <div class="i-slideDown"></div>
              {% endif %}
              {% if schedule.id != "" and schedule.allowVideo == false %}
                <div class="i-dont pull-right"><img src="images/schedule/idont-03.png" height="31" width="30"></div>
              {% endif %}
              {% if schedule.links.hackpad != "" %}
                <div class="i-hackpad pull-right"><a href="{{schedule.links.hackpad}}" target="_blank">hackpad</a></div>
              {% endif %}


            </div>
            {% if schedule.room != "" or schedule.type !="" %}
              <div class="schedule-content-footer text-white">
                <div class="schdule-type text-center">
                  <div class="col-xs-6 p0 bg-deep-blue">{{ schedule.room }}</div>
                  {% if schedule.type == '技術' %}
	                    {% set typeClass='bg-pink' %}
	                {% elseif schedule.type == '活動' %}
	                    {% set typeClass = 'bg-light-green' %}
	                {% elseif schedule.type == '營運' or schedule.type == '秘密' %}
	                    {% set typeClass = 'bg-gray' %}
	                {% endif %}
                  <div class="col-xs-6 p0 {{ typeClass }}">{{ schedule.type }}</div>
                </div> 
              </div>
            {% endif %}
          </div>
          
        </div>
        
        <div class="schedule-footer">
          {% if schedule.issue %}
            <h4>議題介紹</h4>
            <p>{{ schedule.issue | raw }}</p> 
            {% for link_name, link_url in schedule.links %}
              {% if link_name != 'hackpad' and link_url != '' %}
              &nbsp;<a href='{{link_url}}' target="_blank">{{link_name}}</a>&nbsp;
              {% endif%}
            {% endfor %}
          {% endif %}
          {% if schedule.speaker %}
            <h4>講者簡介</h4>
            <p>{{ schedule.speaker | raw }}</p> 
            {% for link_name, link_url in schedule.speakerLinks %}
              {% if link_name matches '/^\\d+$/' %}

              {% else%}
                &nbsp;<a href='{{link_url}}' target="_blank">{{link_name}}</a>&nbsp;
              {% endif%}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-sm-6 col-xs-12 hidden-xs" data-schedule>
    {% for schedule in schedules %}
  		{% if schedule.date == '2015/11/01' %}
      <div class="col-xs-12 schedule">
    		{% if schedule.timeStart != prvTime %}
      		{% set prvTime = schedule.timeStart %}
          <div class="schedule-header"><span>{{ schedule.timeStart }}</span><span> ～ </span><span>{{ schedule.timeEnd }}</span></div>
        {% endif %}
          
        <div class="schedule-body">
          {% if schedule.pic %}
          	<div class="schedule-img"><img src="/2015/images/{{ schedule.pic }}" width="100%" alt=""></div>
          {% endif %}
          <div class="schedule-content">
            <div class="schedule-content-header">
              <h3>
                {% if schedule.id != "" %}
                  <a href='?id={{schedule.id}}' class="ellipsis">{{ schedule.title }} </a><img src="images/schedule/arrow-02.png" height="25" width="26" />
                {% else %}  
                  {{ schedule.title }}
                {% endif %}
              </h3>
              <p>{{ schedule.summary }}</p>

              {% if schedule.issue != "" or schedule.speaker !="" %}
                <div class="i-slideDown"></div>
              {% endif %}
              {% if schedule.id != "" and schedule.allowVideo == false %}
                <div class="i-dont pull-right"><img src="images/schedule/idont-03.png" height="31" width="30"></div>
              {% endif %}
              {% if schedule.links.hackpad != "" %}
                <div class="i-hackpad pull-right"><a href="{{schedule.links.hackpad}}" target="_blank">hackpad</a></div>
              {% endif %}

            </div>
            {% if schedule.room != "" or schedule.type !="" %}
              <div class="schedule-content-footer text-white">
                <div class="schdule-type text-center">
                  <div class="col-xs-6 p0 bg-deep-blue">{{ schedule.room }}</div>
                  {% if schedule.type == '技術' %}
	                    {% set typeClass='bg-pink' %}
	                {% elseif schedule.type == '活動' %}
	                    {% set typeClass = 'bg-light-green' %}
	                {% elseif schedule.type == '營運' or schedule.type == '秘密' %}
	                    {% set typeClass = 'bg-gray' %}
	                {% endif %}
                  <div class="col-xs-6 p0 {{ typeClass }}">{{ schedule.type }}</div>
                </div> 
              </div>
            {% endif %}
          </div>
        </div>
        <div class="schedule-footer">
          {% if schedule.issue %}
            <h4>議題介紹</h4>
            <p>{{ schedule.issue | raw }}</p> 
            {% for link_name, link_url in schedule.links %}
              {% if link_name != 'hackpad' and link_url != '' %}
              &nbsp;<a href='{{link_url}}' target="_blank">{{link_name}}</a>&nbsp;
              {% endif%}
            {% endfor %}
          {% endif %}
          {% if schedule.speaker %}
            <h4>講者簡介</h4>
            <p>{{ schedule.speaker | raw }}</p> 
            {% for link_name, link_url in schedule.speakerLinks %}
              {% if link_name matches '/^\\d+$/' %}

              {% else%}
                &nbsp;<a href='{{link_url}}' target="_blank">{{link_name}}</a>&nbsp;
              {% endif%}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
