{% extends 'main.twig' %}

{% block content %}
<header class="header text-white text-center">
	<!-- <img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive"> -->
	<div class="circle-logo"></div>
	<h1 class="text-center common-idx">Schedule<br>of 2015</h1>
</header>


<div class="mtm pdreset">

      <div class="col-xs-12">
      		{% if schedules.timeStart != prvTime %}
      			{% set prvTime = schedules.timeStart %}
          	<div class="schedule-header"><span>{{ schedules.date }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ schedules.timeStart }}</span><span> ～ </span><span>{{ schedules.timeEnd }}</span></div>
          {% endif %}
          
          <div class="schedule-body">
          	{% if schedules.pic %}
            	<div class="schedule-img"><img src="/2015/images/{{ schedules.pic }}" width="100%" alt=""></div>
            {% endif %}

            <div class="schedule-content">
              <div class="schedule-content-header">
                <h3>{{ schedules.title }}</h3>
                <p>{{ schedules.summary }}</p>
              </div>
              {% if schedules.room != "" or schedules.type !="" %}
	              <div class="schedule-content-footer text-white">
	                <div class="schdule-type text-center">
	                  <div class="col-xs-6 p0 bg-deep-blue">{{ schedules.room }}</div>
	                  {% if schedules.type == '技術' %}
		                    {% set typeClass='bg-pink' %}
		                {% elseif schedules.type == '活動' %}
		                    {% set typeClass = 'bg-light-green' %}
		                {% elseif schedules.type == '營運' or schedules.type == '秘密' %}
		                    {% set typeClass = 'bg-gray' %}
		                {% endif %}
	                  <div class="col-xs-6 p0 {{ typeClass }}">{{ schedules.type }}</div>
	                </div> 
	              </div>
              {% endif %}
            </div>
            
          </div>
          <div class="col-xs-12">
            <h4>議題介紹</h4>
            <p>{{ schedules.issue | raw }}</p> 
            {% if schedules.speaker %}
	            <h4>講者簡介</h4>
	            <p>{{ schedules.speaker | raw }}</p> 
            {% endif %}
          </div>

  </div>
  
</div>
{% endblock %}
