{% extends 'main.twig' %}

{% block content %}
<header class="header text-white text-center">
	<!-- <img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive"> -->
	<div class="circle-logo"></div>
	<h1 class="text-center common-idx">Schdule<br>Of 2015</h1>
</header>

<div class="row text-white text-center ovh">
	<div class="col-xs-6 slash bg-green"></div>
	<div class="col-xs-6 slash bg-deep-blue"></div>
</div>
<div class="row mtm pdreset">
  <div class="col-sm-6 col-xs-12" data-schedule>
  	{% for schedule in schedules.day1 %}
      <div class="col-xs-12 schedule">
      		{% if schedule.timeStart != prvTime %}
      			{% set prvTime = schedule.timeStart %}
          	<div class="schedule-header"><span>{{ schedule.timeStart }}</span><span> ～ </span><span>{{ schedule.timeEnd }}</span></div>
          {% endif %}
          {% if schedule.room != "" or schedule.type !="" %}
	          <div class="schedule-body">
	          	{% if schedule.pic %}
	            	<div class="schedule-img"><img src="{{ schedule.pic }}" width="100%" alt=""></div>
	            {% endif %}

	            <div class="schedule-content">
	              <div class="schedule-content-header">
	                <h3>{{ schedule.title }}</h3>
	                <p>{{ schedule.summary }}</p>

	                {% if schedule.issue != "" or schedule.speaker !="" %}
	                <div class="slideDown"></div>
	                {% endif %}

	              </div>
	              
	              <div class="schedule-content-footer text-white">
	                <div class="schdule-type text-center">
	                  <div class="col-xs-6 p0 bg-deep-blue">{{ schedule.room }}</div>
	                  {% if schedule.type == '技術' %}
		                    {% set typeClass='bg-pink' %}
		                {% elseif schedule.type == '活動' %}
		                    {% set typeClass = 'bg-light-green' %}
		                {% elseif schedule.type == '營運' or schedule.type == '秘密' %}
		                    {% set typeClass = 'bg-gray' %}
		                {% endif %}
	                  <div class="col-xs-6 p0 {{ typeClass }}">{{ schedule.type }}</div>
	                </div> 
	              </div>

	            </div>
	            
	          </div>
	          
	          <div class="schedule-footer">
	            <h4>議題介紹</h4>
	            <p>{{ schedule.issue | raw }}</p> 
	            <h4>講者簡介</h4>
	            <p>{{ schedule.speaker | raw }}</p> 
	          </div>
          {% else %}
              <div class="bg-deep-blue text-white schedule-header">
              	<sapn>{{ schedule.title }}</span>
              </div>
          {% endif %}
      </div>
    {% endfor %}
 
  </div>
  <div class="col-sm-6 col-xs-12 hidden-xs" data-schedule>
    {% for schedule in schedules.day2 %}
      <div class="col-xs-12 schedule">
      		{% if schedule.timeStart != prvTime %}
		      		{% set prvTime = schedule.timeStart %}
		          <div class="schedule-header"><span>{{ schedule.timeStart }}</span><span> ～ </span><span>{{ schedule.timeEnd }}</span></div>
          {% endif %}
          {% if schedule.room != "" or schedule.type !="" %}
	          <div class="schedule-body">
	            {% if schedule.pic %}
	            	<div class="schedule-img"><img src="{{ schedule.pic }}" width="100%" alt=""></div>
	            {% endif %}
	            <div class="schedule-content">
	              <div class="schedule-content-header">
	                <h3>{{ schedule.title }}</h3>
	                <p>{{ schedule.summary }}</p>

	                {% if schedule.issue != "" or schedule.speaker !="" %}
	                <div class="slideDown"></div>
	                {% endif %}

	              </div>
	              
	              <div class="schedule-content-footer text-white">
	                <div class="schdule-type text-center">
	                  <div class="col-xs-6 p0 bg-deep-blue">{{ schedule.room }}</div>
	                  {% if schedule.type == '技術' %}
		                    {% set typeClass='bg-pink' %}
		                {% elseif schedule.type == '活動' %}
		                    {% set typeClass = 'bg-light-green' %}
		                {% elseif schedule.type == '營運' or schedule.type == '秘密' %}
		                    {% set typeClass = 'bg-gray' %}
		                {% endif %}
	                  <div class="col-xs-6 p0 {{ typeClass }}">{{ schedule.type }}</div>
	                </div> 
	              </div>
	              
	            </div>
	          </div>
	          <div class="schedule-footer">
	            <h4>議題介紹</h4>
	            <p>{{ schedule.issue | raw }}</p> 
	            <h4>講者簡介</h4>
	            <p>{{ schedule.speaker | raw }}</p> 
	          </div>
	      {% else %}
          <div class="bg-deep-blue text-white schedule-header">
              <sapn>{{ schedule.title }}</span>
          </div>
        {% endif %}
      </div>
      
    {% endfor %}

  </div>
</div>
{% endblock %}
