{% extends 'main.twig' %}

{% block content %}
<header class="header">
	<div class="circle-logo"></div>
	<img src="images/logo_header@2x.png" height="" width="500" alt="" class="img-responsive center-block common-idx">
</header>

<div class="bucket-panel bg-transparent-black">
	<div class="bucket-row text-white">
		<i class="bucket-icon ton-li-microphone-2"></i>
		<h3 class="bucket-title">講者</h3>
		<div>Speaker</div>
	</div>
	<div class="container-md">
		{% for id, speaker in speakers %}
		<div class="card">
			<a name="{{ id }}"></a>
			<h3 class="card-head">
				<a href="?id={{ id }}">{{ speaker.name }}</a> <!--<small></small>-->
			</h3>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						{% if speaker.pic %}
						<img src="/2015/images/{{ speaker.pic }}" alt="" class="img-responsive mbl">
						{% endif %}
					</div>
					<div class="col-sm-9">
						{{speaker.bio|markdown}}
						<hr>
						<div class="text-right">
						{% for link_name, link_url in speaker.links %}
							<a href="{{link_url}}" target="_blank">{{link_name}}</a>
					    {% endfor %}
						</div>
					</div>
				</div>
			</div>
			
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
