{% extends 'main.twig' %}

{% block content %}
<header class="header text-center relative">
	<div class="planet-logo"></div>
	<div class="header-block">
		<div class="header-logo">
            <img
                src="images/article/home-landing-logo@2x.png"
                srcset="images/article/home-landing-logo@3x.png 2x, images/article/home-landing-logo@3x.png 3x"
                alt="mopcon2016"
                class="img-responsive center-block common-idx">
		</div>
	</div>
</header>

<div class="container-md">
	<div class="card">
		<div class="multi-planet">
			<div class=" card-speaker-title">
				<h3>主辦社群</h3>
				<h4>Organizing Communities</h4>
				<hr class="speaker-hr">
			</div>
			{% for id, data in community %}
			<h3 class="card-head card-gray">
				<a href="?id={{ id }}">{{ data.name }}</a>
			</h3>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						<img src="images/community/{{ data.image }}" alt="" class="img-responsive mbxl">
					</div>
					<div class="col-sm-9 speakerInfo">
						<p>
							{{ data.info | raw }}
						</p>

						<ul class="socialNetworkLink">
						{% if data.facebook and data.facebook != "" %}
							<li><a href="{{ data.facebook }}" target="_blank">Facebook</a></li>
						{% endif %}

						{% if data.github and data.github != "" %}
							<li><a href="{{ data.github }}" target="_blank">Github</a></li>
						{% endif %}

						{% if data.blog and data.blog != "" %}
							<li><a href="{{ data.blog }}" target="_blank">Blog</a></li>
						{% endif %}

						{% if data.website and data.website != "" %}
							<li><a href="{{ data.website }}" target="_blank">Website</a></li>
						{% endif %}
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

{% endblock %}

