<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta name="author" content="MOPCON">
	<meta name="keywords" content="南部, 濁水溪以南, 研討會, 行動, 科技, 社群, 開發者, android, ios, iphone
app, 人工智慧, 機器學習, 物聯網, iot, cloud, 雲端, 大數據">
  <link rel="canonical" href="https://mopcon.org/2018/" />

  <meta content="行動科技年會 2018 | Mobile / Open / Platform Conference" property="og:site_name">
  <meta content="https://mopcon.org/2018/" property="og:url">
  <meta content="行動科技年會 2018 | Mobile / Open / Platform Conference" property="og:title">
  <meta name="description" content="濁水溪以南最強大行動科技研討會，2018議程募集中!" property="og:description">
  <meta content="https://mopcon.org/2018/assets/images/mopcon2018_large.jpg" property="og:image">
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/2018/assets/images/favicon.ico">
  <meta content="200" property="og:image:width" >
  <meta content="200" property="og:image:height" >
  <meta content="website" property="og:type">
  <title>{{ main.pagetitle }}</title>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '149507615542184');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=149507615542184&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ baseUrl('assets/css/all.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="{{ baseUrl('assets/js/plugin/jquery.scrollify.js') }}"></script>
  <script type="text/javascript" src="{{ baseUrl('assets/js/plugin/particles.min.js') }}"></script>
  <script type="text/javascript" src="{{ baseUrl('assets/js/bootstrap.bundle.min.js') }}"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href="/">
		<img src="/2018/assets/images/white-logo.png" alt="" srcset="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
    {# <!-- <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					議程
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="./../schedule.html">主要議程</a>
					<a class="dropdown-item" href="#">交流場次</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					講者
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					贊助
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					主辦單位
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					Apps
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
			</li>-->#}
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					{{ l10n.common.pastMOPCON }}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2012">2012</a>
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2013">2013</a>
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2014">2014</a>
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2015">2015</a>
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2016">2016</a>
        <a class="dropdown-item" target="_blank" href="https://mopcon.org/2017">2017</a>
      </li>
      </ul>
      <div class="nav-lang">
		<a href="?&amp;lang=zh" class="btn btn-translate py-0">中</a>
		<a href="?&amp;lang=en" class="btn btn-translate py-0">EN</a>
	</div>
	</div>

</nav>

  {% block content %} {% endblock %}
  <!-- footer -->
  <footer class="footer">
    <div class="container">
        <div class="col-lg-4 footer-logo">
            <div class="logo-img">
                <img src="/2018/assets/images/footerlogo.png" class="img-fluid">
            </div>
        </div>
        <div class="mb-4">
            <div class="col-lg-6 col-md-3 m-auto contact">
                    <button class="contact-btn">{{ l10n.common.contactUs }}</button>
            </div>
        </div>
    </div>
</footer>
<div class="row d-flex justify-content-center mb-4">
    <div class="col-lg-8 col-12">
        <div class="footer-social">

            <div>
                <img src="/2018/assets/images/social/fb.svg">
            </div>

            <div>
                <img src="/2018/assets/images/social/flickr-logo-of-two-dots.svg">
            </div>

            <div>
                <img src="/2018/assets/images/social/google-plus.svg">
            </div>

            <div>
                <img src="/2018/assets/images/social/twitter-logo-silhouette.svg">
            </div>

        </div>
    </div>
    <div class="col-12">
      <p class="text-center">Copyright © 2018 Mobile Open Platform Conference.
				<a id="COC" href="code-of-conduct.php">{{ l10n.codeOfConduct.title }}</a>
      </p>                 
    </div>
</div>
</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34651129-1']);
  _gaq.push(['_setDomainName', 'mopcon.org']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
    particlesJS('particlesLeft',
            {
                "particles": {
                    "number": {
                        "value": 80,
                        "density": {
                            "enable": true,
                            "value_area": 450
                        }
                    },
                    "color": {
                        "value": "#ffffff"
                    },
                    "shape": {
                        "type": "circle",
                        "stroke": {
                            "width": 0,
                            "color": "#000000"
                        },
                        "polygon": {
                            "nb_sides": 5
                        },
                        "image": {
                            "src": "img/github.svg",
                            "width": 100,
                            "height": 100
                        }
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 5,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.1,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 6,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "bounce",
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "repulse"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    },
                    "modes": {
                        "grab": {
                            "distance": 400,
                            "line_linked": {
                                "opacity": 1
                            }
                        },
                        "bubble": {
                            "distance": 400,
                            "size": 40,
                            "duration": 2,
                            "opacity": 8,
                            "speed": 3
                        },
                        "repulse": {
                            "distance": 200
                        },
                        "push": {
                            "particles_nb": 4
                        },
                        "remove": {
                            "particles_nb": 2
                        }
                    }
                },
                "retina_detect": true,
                "config_demo": {
                    "hide_card": false,
                    "background_color": "#b61924",
                    "background_image": "",
                    "background_position": "50% 50%",
                    "background_repeat": "no-repeat",
                    "background_size": "cover"
                }
            }

        );

    particlesJS('particlesRight',
        {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 450
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "bounce",
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true,
            "config_demo": {
                "hide_card": false,
                "background_color": "#b61924",
                "background_image": "",
                "background_position": "50% 50%",
                "background_repeat": "no-repeat",
                "background_size": "cover"
            }
        }

    );
</script>
</html>
