{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->

<section class="pageHead">
	<img src="images/headPage-app.svg" alt="交流場次標題圖片">
</section>

<section class="container">
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="text-center">
                    Android
                </h3>
                <a href="https://play.google.com/store/apps/details?id=org.mopcon.session.app" target="_blank">
                    <img src="./images/android.png" alt="MOPCON Android APP ">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="text-center">
                    iOS
                </h3>
                <a href="https://itunes.apple.com/tw/app/mopcon/id721411970?mt=8" target="_blank">
                    <img src="./images/ios.png" alt="MOPCON iOS APP">
                </a>
            </div>
        </div>
        <div class="row">
            <h4 class="text-center">
                {{ lang.field_game }} <a class="btn btn-detail" href="https://goo.gl/nKf2AR" target="_blank">{{ lang.ppt_link }}</a>
            </h4>
        </div>
    </div>
    <br>
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <h2>
                    {{ lang.title }}
                </h2>
                <p>
                    {{ lang.desc }}
                <br/>
                <br/>
                    {{ lang.first_title }}
                <br/>
                    {{ lang.first_desc }}
                <br/>
                <br/>
                    {{ lang.second_title }}
                <br/>
                    {{ lang.second_desc }}
                <br/>
                    {{ lang.second_desc_1 }}
                <br/>
                    {{ lang.second_desc_2 }}
                <br/>
                <br/>
                    {{ lang.third_title }}
                <br/>
                    {{ lang.third_desc }}
                <br/>
                <br/>
                    {{ lang.forth_title }}
                <br/>
                    {{ lang.forth_desc }}
                <br/>
                <br/>
                    {{ lang.fifth_title }}
                <br/>
                    {{ lang.fifth_desc | raw }}
                </p>
            </div>
        </div>
    </div>
    <br>
    

</section>

<script>
    window.onload = function () {
        $('.floater_content').hide();
    }
</script>
{% endblock %}
