{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-community.svg" alt="社群標題圖片">
</section>

<!-- community -->
<section class="container">
    <div class="content-radius clearfix">
        <div class="row">
            <h3 class="h3 col-lg-12">{{ community['name'] }}</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pic pic-radius" style="background-image:url(./images/community/{{ community['image'] }});">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p>{{ community['info']|nl2br}}</p>
				{% if community['facebook'] %}
                <a href="{{ community['facebook'] }}"  target="_blank">
					<i class="icon icon-fb"></i>
				</a>
				{% endif %}
               	{% if community['website'] %}
                <a href="{{ community['website'] }}" target="_blank">
					<i class="icon icon-link"></i>
				</a>
				{% endif %}
            </div>
        </div>
    </div>
    <br>
</section>

{% endblock %}