{% extends 'main.twig' %}

{% block content %}
<header class="header text-center">
	<div class="header_mainVisual">
		<div class="mainVisualPic"></div>
	</div>
	<div class="header_btnGroup">
        <!-- {% if lang == 'zh' %}
            <a href="https://goo.gl/nLFsPQ" target="_blank" class="btn btn-default">{{ index.call_sponsor }}</a>
        {% else %}
            <a href="https://goo.gl/S9prfV" target="_blank" class="btn btn-default">{{ index.call_sponsor }}</a>
        {% endif %}
		<a href="https://mopcon.kktix.cc/events/mopcon2017-cfr-2" target="_blank" class="btn btn-default">{{ index.call_recomm }}</a>
		{% if lang == 'zh' %}
			<a href="https://mopcon.kktix.cc/events/mopcon2017-cfp-2" target="_blank" class="btn btn-default">議程投稿</a>
		{% endif %} -->
		{% for id, data in stream %}
			{% if data.onair == true %}
			    <a href="{{ data.link }}" target="_blank" class="btn btn-getTicket">{{ data.room }} ({{ data.title }})</a>
			{% else %}
            <button class="btn btn-getTicket"><a href="{{ data.link }}" target="_blank">{{ data.title }}</a></button>
		 	{% endif %}
		{% endfor %}
        <a href="https://youtu.be/MhwEaZTrmNg" target="_blank" class="btn btn-getTicket">{{ index.film_2017 }}</a>
	</div>
</header>
<!-- lookback -->
<section class="lookback">
	<a href="https://www.flickr.com/photos/mopcon/albums/" target="_blank" class="lookback_content">
		<div class="btn btn-default">{{ index.review_2016 }}</div>
		<img src="images/lookback-img.png" alt="精彩回顧照片">
	</a>
</section>
<!-- about -->
<section class="about container">
	<div class="title">
		<div class="title_en">
			ABOUT
			<br>
			MOPCON 2017
		</div>
		<div class="title_ch">
			{{ index.spirit }}
		</div>
		<div class="title-deco-dot"></div>
	</div>
	<div class="content content-post">
		<p>
			{{ index.spirit_slogan_1 }}
		</p>
		<p>
            {{ index.spirit_slogan_2 }}
		</p>
	</div>
</section>

<!-- schedule -->
<section class="schedule">
	<div class="schedule_deco"></div>
	<div class="schedule_content">
		<div class="container">
			<div class="title">
				<div class="title_ch">
					{{ index.schedule }}
				</div>
			</div>
			<div class="content content-post">
				<p>{{ index.Schedule_slogan }}
				</p>
				<br>
				<br>
				    <a href="schedule.php" class="btn btn-primary btn-lg align-table">
					<!--SEE Full Schedule-->
					{{ index.schedule_now }}
				</a>
			</div>
		</div>
	</div>
	<div class="schedule_deco reverse"></div>
</section>

<!-- position -->
<section class="position">
	<div class="title text-center">
		<div class="title-twiDot">
			WHERE
		</div>
		<h2 class="title-twiDot-h2">
			{{ index.how_to_get_here }}
		</h2>
	</div>
	<div class="position_content">
		<div class="position_content_box col-lg-6 col-lg-push-3 t col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 text-center">
			<h2 class="h2">{{ index.location }}</h2>
			<h3 class="h3">{{ index.address }}</h3>
			<div class="post-dot"></div>
			<h4 class="h4">{{ index.bus }}</h4>
			<p class="post">{{ index.bus_number }}</p>
			<div class="post-dot"></div>
			<h4 class="h4">{{ index.other_transp }}</h4>
			<p class="post">1.{{ index.route_1 }}
				<br>
				2.{{ index.route_2 }}
				<br>
				3.{{ index.route_3 }}
			</p>
		</div>
		<div class="position_map"></div>
	</div>
	<div class="panel-deco-slash"></div>
</section>

<!-- speaker -->
<!--
<section class="speaker container">
	<div class="title">
		<div class="title_en">
			SPEAKERS
			<br>
			MOPCON 2017
		</div>
		<div class="title-deco-dot"></div>
	</div>
	<div class="speaker_content">
		<div class="carouselGroup owl-carousel">
			<a href="#" class="item">
				<div class="pic pic-speaker" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);"></div>
				<h4 class="h4">Akane Lee</h4>
			</a>
			<a href="#" class="item">
				<div class="pic pic-speaker" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);"></div>
				<h4 class="h4">Akane Lee</h4>
			</a>
			<a href="#" class="item">
				<div class="pic pic-speaker" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);"></div>
				<h4 class="h4">Akane Lee</h4>
			</a>
		</div> 

	</div>
	<a href="" class="btn btn-warning btn-lg align-table">
		SEE All Speaker
	</a>
</section>
-->

<!-- sponsor -->
<!--
<section class="sponsor container">
	<div class="title">
		<div class="title_en">
			SPONSORS
			<br>
			THANK YOU !
		</div>
		<div class="title-deco-dot"></div>
	</div>

	<div class="sponsor_content">
		<div class="sponsor_content_title">
			Yoda
		</div>
		 <div class="content-radius">
			<div class="row">
				<div class="pic-item col-lg-12">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="sponsor_content">
		<div class="sponsor_content_title">
			Sky Walker
		</div>
		 <div class="content-radius">
			<div class="row">
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
				<div class="pic-item col-lg-4 col-md-4 col-sm-4">
					<a href="">
						<img src="http://fakeimg.pl/900x600/?text=LOGO" alt="">
					</a>
				</div>
			</div>

		</div>
	</div>

</section>
-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd8NcCu9BqXZch7AL73UF7huLl-SKIDfU&callback=initMap"
		async defer></script>
<script type="text/javascript">
function initMap() {
    var position = {lat: {{ map.lat }}, lng: {{ map.lng }}};
    map = new google.maps.Map(document.querySelector('.position_map'), {
        center: position,
        zoom: {{ map.zoom }},
        scrollwheel: false
    });

    var marker = new google.maps.Marker({
        position: position,
        map: map
    });
}
</script>
{% endblock %}
