<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta content="{{main.ogsitename}}" property="og:site_name">
  <meta content="http://{{website}}/2017/{{og_url}}" property="og:url">
  <meta content="{% if main.pagetitle %}{{main.pagetitle}} - {% endif %}{{main.sitetitle}}" property="og:title">
  <meta content="{{main.ogdesc}}" property="og:description">
  <meta content="http://{{website}}/2017/images/{{og_image}}" property="og:image">
  <!-- <meta content="https://2017.mopcon.org/images/mopcon2017_large.png" property="og:image"> -->
  <meta content="200" property="og:image:width" >
  <meta content="200" property="og:image:height" >
  <meta content="website" property="og:type">
  <title>{% if main.pagetitle %}{{main.pagetitle}} - {% endif %}{{main.sitetitle}}</title>
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/all.css?v={{version.allCss}}" rel="stylesheet" type="text/css" />
    <link href="stylesheets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/2017/images/favicon.ico">
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="images/nav-logo.svg" width="50px" alt="Mopcon logo">
        </a>
        <button class="navbar-toggle" data-toggle="collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
           {% if main.nav.cfp %}
            <li><a href="cfp.php">{{main.nav.cfp}}</a></li>
          {% endif %}
          {% if main.nav.schedule %}
            <li><a href="schedule.php">{{main.nav.schedule}}</a></li>
          {% endif %}
          {% if main.nav.schedule_unconf %}
            <li><a href="schedule_unconf.php">{{main.nav.schedule_unconf}}</a></li>
          {% endif %}
          {% if main.nav.speaker %}
            <li><a href="speaker.php">{{main.nav.speaker}}</a></li>
          {% endif %}
          {% if main.nav.sponsor %}
            <li><a href="sponsor.php">{{main.nav.sponsor}}</a></li>
          {% endif %} 
          {% if main.nav.community %}
            <li><a href="community.php">{{main.nav.community}}</a></li>
          {% endif %}
          {% if main.nav.member %}
            <li><a href="member.php">{{main.nav.member}}</a></li>
          {% endif %}
          {% if main.nav.hackfoldr %}
            <li><a href="http://hackfoldr.org/mopcon2016/">{{main.nav.hackfoldr}}</a></li>
          {% endif %}
          {% if main.nav.gitter %}
            <li><a href="https://gitter.im/MOPCON/mopcon-chat">{{main.nav.gitter}}</a></li>
          {% endif %}
        </ul> 
        <ul class="navbar-right">
          <li class="nav-lang">
            <a href="?{{ webParams }}&lang=zh" class="btn btn-default {{ lang == 'zh' ? 'is-active' : '' }}">中</a>
            <a href="?{{ webParams }}&lang=en" class="btn btn-default {{ lang == 'en' ? 'is-active' : '' }}">EN</a>
          </li>
        </ul>
      </div>
    </nav>
  {% block content %}
  {% endblock %}
  <!-- footer -->
  <footer class="footer container text-center">
    <a href="mailto:contact@mopcon.org">
      <div class="footer_contactUs">
        Contact
        <br>
        Us
      </div>
      <div class="footer_mail">
        <img src="images/footer-mail.svg" alt="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
    <div class="footer_logo">
      <img src="images/footer-logo.svg" alt="">
    </div>
    <ul class="footer_nav">
      <li class="nav-history dropdown">
        <ul class="dropdown-menu">
          <li><a href="https://mopcon.org/2016/" target="_blank">2016</a></li>
          <li><a href="https://mopcon.org/2015/" target="_blank">2015</a></li>
          <li><a href="https://mopcon.org/2014/" target="_blank">2014</a></li>
          <li><a href="https://mopcon.org/2013/" target="_blank">2013</a></li>
          <li><a href="https://mopcon.org/2012/" target="_blank">2012</a></li>
        </ul>
        <a class="btn btn-select dropdown-toggle" data-toggle="dropdown">{{ main.his_mopcon }}
          <span class="fa fa-chevron-up"></span>
        </a>
      </li>
      <li class="nav-community">
        <a href="https://www.facebook.com/mopcon/?fref=ts" class="fa fa-facebook-square fa-2x" target="_blank" title="MOPCON 粉絲團"></a>
        <a href="https://www.flickr.com/photos/mopcon/albums/" target="_blank" class="fa fa-flickr fa-2x" title="flickr"></a>
        <a href="https://goo.gl/qJRGoJ" class="fa fa-google-plus-square fa-2x" target="_blank" title="MOPCON G+"></a>
        <a href="https://twitter.com/mopcon" class="fa fa-twitter-square fa-2x" target="_blank" title="MOPCON twitter"></a>
      </li>
    </ul>

  </footer>
</body>
<script src="javascripts/vendor.js?v={{version.allJs}}" type="text/javascript"></script>
<script src="javascripts/all.js?v={{version.allJs}}" type="text/javascript"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34651129-1']);
  _gaq.push(['_setDomainName', 'mopcon.org']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
