{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-member.svg" alt="志工組織標題圖片">
</section>
<!-- speaker -->
<section class="container">
    <div class="content-radius clearfix">
        {% for id, data in member %}
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 vcenter">
                <div class="member-cycle" style="background-image:url(./images/nav-logo.svg);">
                </div>
            </div><div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 vcenter">
                <h3 class="h3">{{data['name']}}</h3>
                <p>
                    {{data.description}}
                </p>
                <button class="btn btn-detail" onclick="openDetailBox({{id+1}})">{{text['first']}}</button>
            </div>
        </div>
        <div id="box-{{id+1}}" class="detailBox" style="display: none;">
            <div class="detailBoxWrapper">
                <div class="detailBox_content">
                    <span class="fa-stack fa-lg detailBox_content_cancel ">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
                    <div class="detailBox_content_schedule">
                        <div class="scheduleTable-subject">
                            {{data['name']}}{{text['sceond']}}
                        </div>
                        <p class="height-limit">
                            {{data.list}}
                        </p>
                    </div>
                </div>
                <div class="detailBox_maskBg"></div>
            </div>
        </div>
        <br> {% endfor %}
    </div>
</section>
{% endblock %}