{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-schedule.svg" alt="議程標題圖片">
</section>


<!-- switch date -->
<section class="switch container">
	<div class="btn-group btn-group-switch">
		<a href="#Day1" data-switch="Day1" class="btn btn-switch is-active">10/28</a>
		<a href="#Day2" data-switch="Day2" class="btn btn-switch">10/29</a>
	</div>
</section>

<section class="schedulePage_info">
	<p>點擊議程標題可觀看詳細介紹</p>
	<p>R1：一廳 / R2：二廳 / R3：三廳</p>
</section>


<!-- schedule table -->
<section class="schedulePage container">
	<div class="Day1">
		<table class="scheduleTable table">
			<tbody>
				<tr>
					<th></th>
					<th>R1</th>
					<th>R2</th>
					<th>R3</th>
				</tr>
				{% for item in schedules['day1'] %}
					<tr {{ item['paintBG'] ? 'class="table-notic"' : '' }}>
						<td role="time-col">{{ item['time'] }}</td>
							{% for key, content in item['content'] %}
                                {% if content['schedule'] %}
                                    <td colspan="{{ item['colspan'] }}" role="content-col" onclick="openDetailBox({{ content['id'] }})">
                                        <span class="scheduleTable-room">{{ content['room'] }}</span>
                                        <div class="scheduleTable-speaker">{{ content['title'] }} </div>
                                        <div class="scheduleTable-subject">
											<span class="subjectTag">{{ content['type'] }}</span>
											<br/>
											{{ content['schedule_topic'] }}
                                        </div>
										{% if content['slide'] %}
                                        <div class="scheduleTable-link">
                                            <a href="{{ content['slide'] }}" target="_blank">slide</a>
                                        </div>
										{% endif %}
                                    </td>
                                {% else %}
                                    <td colspan="{{ item['colspan'] }}" role="rundown-col">
                                    {{ content['content'] }}
                                    </td>
                                {% endif %}
								<section id="box-{{ content['id'] }}" class="detailBox" style="display: none;">
									<div class="detailBoxWrapper">
										<div class="detailBox_content">
											<div class="detailBox_content_schedule">
												<div class="scheduleTable-subject">
												{{ content['schedule_topic'] }}
												</div>
												
												<p class="height-limit">
												{{ content['schedule_info'] }}
												</p>
												{% for speaker_key, speaker in content['name'] %}
												<div class="detailBox_content_schedule_speaker">
													<div class="pic pic-detail" style="background-image:url(./images/speaker/{{ content['picture'][speaker_key] }});">
													</div>
													<a href="speakerDetail.php?speaker={{ content['speaker_id'][speaker_key] }}">
														<h4 class="inline-block">{{ content['name'][speaker_key] }}</h4>
													</a>
												</div>
												{% endfor %}
											</div>
											{% if content['slide'] %}
											<div class="detailBox-link">
												<a href="{{ content['slide'] }}" target="_blank"  class="slide-link">Slide Link</a>
											</div>
											{% endif %}
											<span class="fa-stack fa-lg detailBox_content_cancel ">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-times fa-stack-1x fa-inverse"></i>
											</span>
										</div>
										<div class="detailBox_maskBg"></div>
									</div>
								</section>
                            {% endfor %}
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="Day2 hide">
		<table class="scheduleTable table">
			<tbody>
				<tr>
					<th></th>
					<th>R1</th>
					<th>R2</th>
					<th>R3</th>
				</tr>
                {% for item in schedules['day2'] %}
                    <tr {{ item['paintBG'] ? 'class="table-notic"' : '' }}>
                        <td role="time-col">{{ item['time'] }}</td>
                        {% for key, content in item['content'] %}
                            {% if content['schedule'] %}
                                <td colspan="{{ item['colspan'] }}" role="content-col" onclick="openDetailBox({{ content['id'] }})">
                                    <span class="scheduleTable-room">{{ content['room'] }}</span>
                                    <div class="scheduleTable-speaker">{{ content['title'] }}</div>
                                    <div class="scheduleTable-subject">
										<span class="subjectTag">{{ content['type'] }}</span>
										<br/>
										{{ content['schedule_topic'] }}
                                    </div>
									{% if content['slide'] %}
                                    <div class="scheduleTable-link">
                                        <a href="{{ content['slide'] }}" target="_blank">slide</a>
                                    </div>
									{% endif %}
                                </td>
                            {% else %}
                                <td colspan="{{ item['colspan'] }}" role="rundown-col">
                                    {{ content['content'] }}
                                </td>
                            {% endif %}
							<section id="box-{{ content['id'] }}" class="detailBox" style="display: none;">
									<div class="detailBoxWrapper">
										<div class="detailBox_content">
											<div class="detailBox_content_schedule">
												<div class="scheduleTable-subject">
												{{ content['schedule_topic'] }}
												</div>
												
												<p class="height-limit">
												{{ content['schedule_info'] }}
												</p>
                                                {% for speaker_key, speaker in content['name'] %}
													<div class="detailBox_content_schedule_speaker">
														<div class="pic pic-detail" style="background-image:url(./images/speaker/{{ content['picture'][speaker_key] }});">
														</div>
														<a href="speakerDetail.php?speaker={{ content['speaker_id'][speaker_key] }}">
															<h4 class="inline-block">{{ content['name'][speaker_key] }}</h4>
														</a>
													</div>
                                                {% endfor %}
											</div>
											{% if content['slide'] %}
											<div class="detailBox-link">
												<a href="{{ content['slide'] }}" target="_blank"  class="slide-link" target="_blank">Slide Link</a>
											</div>
											{% endif %}
											<span class="fa-stack fa-lg detailBox_content_cancel ">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-times fa-stack-1x fa-inverse"></i>
											</span>
										</div>
										<div class="detailBox_maskBg"></div>
									</div>
								</section>
                        {% endfor %}
                    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</section>


<!-- schedule detailBox -->

{% endblock %}
