{% extends 'main.twig' %}

{% block content %}
<!-- header	 -->
<section class="pageHead">
	<img src="images/headPage-schedule_unconf.svg" alt="交流場次標題圖片">
</section>


<!-- switch date -->
<section class="switch container">
	<div class="btn-group btn-group-switch">
		<a href="#Day1" data-switch="Day1" class="btn btn-switch is-active">10/28</a>
		<a href="#Day2" data-switch="Day2" class="btn btn-switch">10/29</a>
	</div>
</section>

<!-- schedule table -->
<section class="schedulePage container">
	<div class="Day1">
		<table class="scheduleTable table">
			<tbody>
				<tr>
					<th>時段</th>
					<th>主題</th>
					<th>講者</th>
				</tr>
				{% for item in schedules['day1'] %}
					<tr {{ item['paintBG'] ? 'class="table-notic"' : '' }}>
						<td role="time-col">
							{{ item['time'] }}
						</td>
						{% for key, content in item['content'] %}
                               
                            <td colspan="{{ item['colspan'] }}" role="rundown-col">
                                {{ content['content'] }}

								{% if content['content'] == '開放投稿中' %}
									<a href="https://goo.gl/2ZtDVY" target="_blank" class="btn btn-getTicket-intable">報名</a>
								{% endif %}
							</td>
                        {% endfor %}
					</tr>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="Day2 hide">
		<table class="scheduleTable table">
			<tbody>
				<tr>
                    <th>時段</th>
                    <th>主題</th>
                    <th>講者</th>
				</tr>
                {% for item in schedules['day2'] %}
                    <tr {{ item['paintBG'] ? 'class="table-notic"' : '' }}>
                        <td role="time-col">
							{{ item['time'] }}
						</td>
                        {% for key, content in item['content'] %}
                            
                            <td colspan="{{ item['colspan'] }}" role="rundown-col">
								{{ content['content'] }}

								{% if content['content'] == '開放投稿中' %}
                                    <a href="https://goo.gl/2ZtDVY" target="_blank" class="btn btn-getTicket-intable">報名</a>
								{% endif %}
                             </td>
                           
                        {% endfor %}
                    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</section>

<!-- schedule detailBox -->

{% endblock %}
