{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="講者標題圖片">
</section>
<!-- sponsor -->
<section class="speakerDetail container">
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vcenter">
                {% if speakerDetail['image'] %}
                    <div class="pic pic-cycle" style="background-image:url({{ speakerDetail['image'] }});"></div>
                {% else %}
                    <div class="pic pic-cycle" style="background-image:url(http://fakeimg.pl/900x600/?text=pic);"></div>
                {% endif %}
            </div><div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 vcenter">
                <h3 class="name">{{ speakerDetail['name'] }}</h3>
                <h4>{{ speakerDetail['subject'] }}</h4>
                <span class="subjectTag">{{ speakerDetail['subjectTag'] }}</span>
            </div>
        </div>
        <br>
        <h3>{{ index.speaker_info }}</h3>
        <p>{{ speakerDetail['speaker_info'] }}</p>
        {% if speakerDetail['facebook'] %}
            <a href="{{ speakerDetail['facebook'] }}"><i class="icon icon-fb"></i></a>
        {% endif %}

        {% if speakerDetail['github'] %}
            <a href="{{ speakerDetail['github'] }}"><i class="icon icon-github"></i></a>
        {% endif %}

        {% if speakerDetail['blog'] %}
            <a href="{{ speakerDetail['blog'] }}"><i class="icon icon-blog"></i></a>
        {% endif %}

        {% if speakerDetail['link'] %}
            <a href="{{ speakerDetail['link'] }}"><i class="icon icon-link"></i></a>
        {% endif %}
        <br>
        <h3>{{ index.schedule_info }}</h3>
        <p>{{ speakerDetail['schedule_info'] }}</p>
        <div class="scheduleTable-link">
            <a>slide</a>
        </div>
        <br>
        <h3>其他項目</h3>
        <p>{{ speakerDetail['other'] }}</p>
    </div>
</section>
{% endblock %}