{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="講者標題圖片">
</section>
<!-- speaker -->
<section class="container">
{% for id, data in speakers %}
    <div class="content-radius clearfix">
        <div class="row">
            <h3 class="h3 col-lg-12">
                {{data['name']}} 
                {% if data['job'] %}
                <br/ class="visible-xs">
                <span style="font-size: 14px;color: #999;">({{data['job']}}) </span>
                {% endif %}
            </h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pic pic-cycle" style="background-image:url(./images/speaker/{{ data['picture'] }});">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <p>
                    {{data['info']}}
                </p>
                {% if from_app == true %}
                    <a href="speakerDetail.php?speaker={{id}}&from_app=1" class="btn btn-detail">{{ index['more_info'] }}</a>
                {% else %}
                    <a href="speakerDetail.php?speaker={{id}}" class="btn btn-detail">{{ index['more_info'] }}</a>
                {% endif %}
            </div>
        </div>
        <!-- <a href="https://goo.gl/xCR44S" target="_blank" class="btn-booking">購票資訊</a> -->
    </div>
    <br>
{% endfor%}

</section>
{% endblock %}