{% extends 'main.twig' %} {% block content %}
<!-- header  -->
<section class="pageHead">
    <img src="images/headPage-speakers.svg" alt="講者標題圖片">
</section>
<!-- sponsor -->
<section class="speakerDetail container">
    <div class="content-radius clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vcenter">
                <div class="pic pic-cycle" style="background-image:url(./images/speaker/{{ speakerDetail['picture'] }});"></div>
            </div><div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 vcenter">
                <h3 class="name">{{ speakerDetail['name'] }}</h3>
                <h4>{{ speakerDetail['schedule_topic'] }}</h4>
                <span class="subjectTag">{{ speakerDetail['type'] }}</span>
            </div>
        </div>
        <br>
        <h3>{{ index.speaker_info }}</h3>
        <p>{{ speakerDetail['info'] }}</p>
        {% if speakerDetail['facebook'] %}
            <a href="{{ speakerDetail['facebook'] }}"><i class="icon icon-fb"></i></a>
        {% endif %}

        {% if speakerDetail['github'] %}
            <a href="{{ speakerDetail['github'] }}"><i class="icon icon-github"></i></a>
        {% endif %}

        {% if speakerDetail['blog'] %}
            <a href="{{ speakerDetail['blog'] }}"><i class="icon icon-blog"></i></a>
        {% endif %}

        {% if speakerDetail['linkedin'] %}
            <a href="{{ speakerDetail['linkedin'] }}"><i class="icon icon-link"></i></a>
        {% endif %}

        {% if speakerDetail['website'] %}
            <a href="{{ speakerDetail['website'] }}"><i class="icon icon-link"></i></a>
        {% endif %}
        <br>
        <h3>{{ index.schedule_info }}</h3>
        <p>{{ speakerDetail['schedule_info'] }}</p>
        {% if speakerDetail['slide'] %}
        <div class="scheduleTable-link">
            <a href="{{ speakerDetail['slide'] }}" target="_blank">slide</a>
        </div>
        {% endif %}
        <!-- <br>
        <h3>其他項目</h3>
        <p>Other xxx ooo ...</p> -->
        <br>
        <a href="/speaker.php" class="btn btn-primary align-table">
            {{ index.back_list }}
        </a>
    </div>
</section>
{% endblock %}