{% extends 'main.twig' %} {% block content %}
<!-- header	 -->
<section class="pageHead">
    <img src="images/headPage-sponsor.svg" alt="贊助標題圖片">
</section>
<!-- sponsor -->
<section class="sponsor container">

    <!-- 等級一 -->
    
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Tony Stark
        </div>
        <div class="content-radius">
            <div class="row">
            {% for id, data in sponsors %}
                {% if data['type'] == 'Tony Stark' %}
                    {% for sponsor_key, sponsor in data['logo'] %}
                        <div class="pic-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="{{ data['website'][sponsor_key] }}" target="_blank">
                                <img src="./images/sponsor/{{ data['logo'][sponsor_key] }}" alt="">
                            </a>
                        </div>
                    {% endfor%}
                {% endif %}
            {% endfor%}
            </div>
        </div>
    </div>
    <!-- 等級二 -->
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Bruce Wayne
        </div>
        <div class="content-radius">
            <div class="row">
            {% for id, data in sponsors %}
                {% if data['type'] == 'Bruce Wayne' %}
                    {% for sponsor_key, sponsor in data['logo'] %}
                        <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <a href="{{ data['website'][sponsor_key] }}" target="_blank">
                                <img src="./images/sponsor/{{ data['logo'][sponsor_key] }}" alt="">
                            </a>
                        </div>
                    {% endfor%}
                {% endif %}
            {% endfor%}
            </div>
        </div>
    </div>
    <!-- 等級三 -->
    
    
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Geek
        </div>
        <div class="content-radius">
            <div class="row">
            {% for id, data in sponsors %}
                {% if data['type'] == 'Geek' %}
                    <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        {% for sponsor_key, sponsor in data['logo'] %}
                            <a href="{{ data['website'][sponsor_key] }}" target="_blank">
                                <img {{ sponsor_key == 1 ? 'style="border-top: 5px dotted #efefef ;"' : '' }} src="./images/sponsor/{{ data['logo'][sponsor_key] }}" alt="">
                            </a>
                        {% endfor%}
                    </div>
                {% endif %}
            {% endfor%}
            </div>
        </div>
    </div>
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            Developer
        </div>
        <div class="content-radius">
            <div class="row">
            {% for id, data in sponsors %}
                {% if data['type'] == 'Developer' %}
                    <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        {% for sponsor_key, sponsor in data['logo'] %}
                            <a href="{{ data['website'][sponsor_key] }}" target="_blank">
                                <img {{ sponsor_key == 1 ? 'style="border-top: 5px dotted #efefef ;"' : '' }} src="./images/sponsor/{{ data['logo'][sponsor_key] }}" alt="">
                            </a>
                        {% endfor%}
                    </div>
                {% endif %}
            {% endfor%}
            </div>
        </div>
    </div>
    
    <div class="sponsor_content">
        <div class="sponsor_content_title setCenter">
            特別感謝
        </div>
        <div class="content-radius">
            <div class="row">
            {% for id, data in sponsors %}
                {% if data['type'] == '特別感謝' %}
                    <div class="pic-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        {% for sponsor_key, sponsor in data['logo'] %}
                            <a href="{{ data['website'][sponsor_key] }}" target="_blank">
                                <img src="./images/sponsor/{{ data['logo'][sponsor_key] }}" alt="">
                            </a>
                        {% endfor%}
                    </div>
                {% endif %}
            {% endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock %}