{% extends 'layouts/main.twig' %} {% block content %}
<div class="d-flex flex-column align-items-center">
    <h2 class="page-title mt-5 mb-5">SPEAKER</h2>
    <div class="container">

      <div class="d-flex flex-wrap justify-content-around">
    {% for speaker in speakers %}

        <div class="speaker-info d-flex align-items-center flex-column">
          <img class="my-3" src="{{ speaker.picture }}" alt="" srcset="">
          <h5>{{ speaker.name }}</h5>
          <span>{{ speaker.job }}</span>
          <button class="speaker-btn mt-4 mb-3" data-toggle="modal" data-target="#modal-{{ speaker.speaker_id }}">詳細介紹</button>
        </div>

      <div class="modal fade"  id="modal-{{ speaker.speaker_id }}" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel" aria-hidden="true">
        <div class="modal-dialog speaker-modal" role="document">
          <div class="modal-content">
            <button type="button" class="speaker-close close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
              <div class="d-flex flex-column align-items-center">
                <div class="d-flex justify-content-around speaker-modal-info">
                  <img class="my-3" src="{{ speaker.picture }}" alt="{{ speaker.name }}">
                  <div class="d-flex flex-column mt-5">
                    <h5>{{ speaker.name }}</h5>
                    <span>{{ speaker.job }}</span>
                  </div>
                </div>
                <div class="speaker-eng-detail mx-5 mt-3 mb-5">
                   {{ speaker.schedule_topic }}
                </div>
                <div class="speaker-zh-detail mx-5">
                    {{ speaker.info }}
                </div>
                {#<div class="speaker-modal-btn mt-5 mb-3">
                  <button>共筆</button>
                  <button>Slide</button>
                </div>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% if id != '' %}
<script>
$(function(){
  $('#modal-'+{{id}}).modal('show');
})
</script>
{% endif %}
{% endblock %}