{% extends 'layouts/warmupLayout.twig' %} {% block content %}

<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-info col-sm-6" data-div-name="#second">
            <h4 class="page-title">暖身場是什麼？</h4>
            <p>
                MOPCON 創立至今已達七年之久，從 2012 到現在，堅持濁水溪以南這句話... 我們堅持了七年，有了您才有今天的 MOPCON ，就在今年，我們決定有個番外活動，「 MOPCON 暖身場」就這樣誕生了！
            </p>
            <p>
                什麼是 MOPCON 暖身場？會眾、講師以及我們的貴賓們遠道而參與這場盛會，但兩天時間總是過得特別快還意猶未盡時就結束了，您的心聲我們聽到了，透過 MOPCON 暖身場讓您有更多的機會可以接觸大神與透過 Workshop 來更加認識廠商產品進而提昇工作效率與想法。期待您一同來參加！
            </p>
        </div>
        <div class="warm-up-people col-sm-6">
            <h4 class="page-title">暖身場可以做些什麼事？</h4>
            <div class="row">
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-users"></i>
                    <h5>我是會眾</h5>
                    <span>
                        好想聽更多大神的演講，有了暖身場可以聽到飽聽到爽！
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-graduate"></i>
                    <h5>我是講者</h5>
                    <span>
                        難得來到南台灣，除了遊山玩水外，還有好多的議題想要分享
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-edit"></i>
                    <h5>我是議程委員</h5>
                    <span>
                        默默在幕後辛辛苦苦審理稿件也想要來 Show 一波
                    </span>
                </div>
                <div class="col-sm-3 people text-center">
                    <i class="fas fa-user-tie"></i>
                    <h5>我是廠商</h5>
                    <span>
                        透過精緻的 Workshop 可以有更多的機會進行手把手教學
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-schedule col-sm-6" data-div-name="#three">
            <h4 class="page-title">時刻表</h4>
            <div class="table">
                <div class="row table-title">
                    <div class="col-sm-4 text-center">
                        時間
                    </div>
                    <div class="col-sm-8 text-center">
                        活動
                    </div>
                </div>
                {% for item in l10n.warmup.schedule %}
                {% if item.topic %}
                <div class="row conf">
                    <div class="col-sm-4 text-center">
                        {{ item.time }}
                    </div>
                    <div class="col-sm-8 text-center" data-toggle="modal" data-target="#modal-{{ loop.index }}">
                        <!-- <span class="tag">Blockchain</span> -->
                        <h6>{{ item.name }}</h6>
                        <span>{{ item.topic }}</span>
                    </div>
                </div>
                
                {% else %}
                <div class="row break">
                    <div class="col-sm-4 text-center">
                        {{ item.time }}
                    </div>
                    <div class="col-sm-8 text-center">
                        {{ item.name }}
                    </div>
                </div> 
                {% endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% for item in l10n.warmup.schedule %}
    {% if item.topic %}
    <div class="modal fade" id="modal-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="speakerModalLabel"
                        aria-hidden="true">
        <div class="modal-dialog speaker-modal" role="document">
            <div class="modal-content">
                <button type="button" class="speaker-close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex speaker-modal-info px-sm-4">
                        <img class="my-3 rounded-circle mr-3" src="{{ item.image|default('/2018/assets/images/speaker/blank_speaker.jpg') }}" alt="{{ speaker.name }}">
                            <div class="d-flex flex-column mt-5">
                                <h4>{{ item.name }}</h4>
                                <span>{{ item.company }}</span>
                                <span>{{ item.job }}</span>
                            </div>
                        </div>
                            <div class="speaker-zh-detail px-sm-4">
                            {{ item.info }}
                        </div>
                        <div class="speaker-eng-detail px-sm-4 mt-3 pt-3 mb-4 border-top border-primary">
                        {{ item.topic }}
                        </div>
                        <div class="speaker-zh-detail px-sm-4">
                            {{ item.summary }}
                        </div>
                        {#<div class="speaker-modal-btn mt-5 mb-3">
                            <button>共筆</button>
                            <button>Slide</button>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif%}
{% endfor %}
<div class="panel" style="margin-bottom:8rem;">
    <div class="warm-up row d-flex align-items-center flex-column">
        <div class="warm-up-ticket" data-div-name="#four">
            <h4 class="page-title">售票資訊</h4>
            <div class="ticket-item type1 row mb-4">
                <div class="ticket-type  d-flex flex-column align-items-start">
                    <div class="name">一般票</div>
                </div>
                <div class="ticket-content flex-auto">
                    <h4>NT$ 250 元</h4>
                    <p>
                        暖身場一般票。
                    </p>
                    <div class="ticket-tool">
                        <a href="https://kktix.com/events/warm-up-2018/registrations/new" target="_blank" class="btn btn-ticket" title="Buy ticket">
                            立即購票
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-conf-ticket">
                <h5>來個充實的週末吧，MOPCON 2018 歡迎您！</h5>
                <a class="btn btn-ticket" href="/2018/ticket.php">MOPCON 2018 立即購票</a>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="warm-up ">
        
        <h4 class="page-title">共同主辦單位</h4>
       
    </div>
    <div class="d-flex justify-content-center">
            
            <div class="col-offset-4 col-md-3">
                <a href="https://mopcon.org" target="_blank">
                    <img class="" src="assets/images/mopcon2018_large.jpg">
                </a>
            </div>
            
            <div class="col-md-3">
                <a href="https://www.asvda.org/chi/index.aspx" target="_blank">
                    <img class="" src="assets/images/sponsor/ASVDA.jpg">
                </a>
            </div>
            
            
        </div>
</div>
{% endblock %}
